fastapi
uvicorn
httpx
python-multipart
requests
git+https://github.com/reingart/pyafipws.git#egg=pyafipws
reportlab
qrcode
Pillow
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

